{% extends 'base.html.twig' %}

{% block title 'About Us | ' ~ parent() %}

{% block body %}
    <img src="/images/photo.jpg" alt="owner picture" class="rounded-full mt-12 h-32 shadow-md">

    <h1 class="text-gray-700 mt-5">Built by Michael Larboni</h1>

    <p class="text-lg text-gray-800 mt-5">
        <a href="{{ path('app_home') }}">Revenir à la page d'accueil</a>
    </p>
{% endblock %}