<div class="text-gray-700">
    &copy; {{ 'now'|date('Y') }} &middot;
    <span class="text-dark">
        Conçu par
        <a href="{{ path('app_about') }}" class="text-indigo-500 hover:text-indigo-600">
            Michael
        </a>
    </span>
</div>
